<% include ../parts/head %>
<% include ../parts/othernav %>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">AR 신청현황 보기</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
          <div class="panel-body">

              <form role="form" action="/arenroll/<%= arenroll._id %>?_method=put" method="post">
                  <fieldset>

                      * 신청 시간
                      <div class="form-group">
                          <input class="form-control" value="<%= arenroll.arcurrent %>" placeholder="" id="opcurrent" name="opcurrent" type="text" disabled>
                          -> 수정할 때 시간!!!!!!!!! 반드시 확인 부탁드립니다.<br>
                          -> 오후 5시 00분 ~ 오후 9시 50분 사이에만 수정 가능합니다.
                      </div>

                    * 분류
                      <div class="form-group">
                          <input class="form-control" placeholder="" id="arar" name="arar" value="AR" type="text" readonly>
                      </div>

                      <hr>

                      <h3>신청현황</h3>
                      <div class="form-group pull-right">
                        <input type="text" class="search form-control" value="<%= arenroll.arroom %>" disabled>
                      </div>
                      <span class="counter pull-right"></span>
                      <table class="table table-hover table-bordered results">
                       <thead>
                        <tr>
                          <th class="current">신청시간</th>
                          <th class="arorop">분류</th>
                          <th class="room">세미나실</th>
                          <th class="purpose">이용목적</th>
                          <th class="name">신청자</th>
                          <th class="sort">계열</th>
                          <th class="sex">성별</th>
                          <th class="currentgrade">학년</th>
                        </tr>
                       </thead>
                       <tbody>

                          <tr>
                          <td class="current">
                             <div><%= arenroll.arcurrent %></div>
                          </td>
                          <td class="arorop">
                            <div><%= arenroll.arar %></div>
                          </td>
                          <td class="room">
                           <div><%= arenroll.arroom %></div>
                          </td>
                          <td class="purpose">
                           <div><%= arenroll.arpurpose %></div>
                          </td>
                          <td class="name">
                            <div><%= arenroll.arname %></div>
                          </td>
                          <td class="sort">
                           <div><%= arenroll.arsort %></div>
                          </td>
                          <td class="sex">
                           <div><%= arenroll.arsex %></div>
                          </td>
                          <td class="currentgrade">
                           <div><%= arenroll.arcurrentgrade %></div>
                          </td>

                       </tbody>
                     </table>

                      <hr>

                      * 세미나실
                      <div class="form-group">
                          <input class="form-control" placeholder="" id="arroom" name="arroom" type="text" value="<%= arenroll.arroom %>" disabled>
                          -> 위의 신청현황을 잘 보고 신청하세요! <br> -> 표의 맨 위에 있는 학생이 속한 동아리만 신청 가능합니다.
                      </div>

                      * (필수입력 아님) 이용목적
                      <div class="form-group">
                        <div class="form-group">
                            <input class="form-control" placeholder="대표학생만 입력하세요" value="<%= arenroll.arpurpose %>" id="arpurpose" name="arpurpose" type="text">
                            -> 동아리 : 동아리명<br> -> 동아리는 아닌데 여러 명이 신청하는 경우 : 공통의 이용목적(ex. 한국사 수행)을 입력해주세요.
                        </div>
                      </div>

                      * 신청자
                      <div class="form-group">
                          <input class="form-control" placeholder="반드시 생기부에 입력된 이름이랑 같아야 합니다." id="arname" name="arname" type="text" value="<%= arenroll.arname %>" disabled>
                      </div>

                      * 계열
                      <div class="form-group">
                        <select class="form-control" id="arsort" name="arsort" type="text">
                          <option>국내</option>
                          <option>국제</option>
                        </select>
                      </div>

                      * 성별
                      <div class="form-group">
                        <select class="form-control" id="arsex" name="arsex" type="text">
                          <option>남자</option>
                          <option>여자</option>
                        </select>
                      </div>

                      * 학년
                      <div class="form-group">
                        <select class="form-control" id="arcurrentgrade" name="arcurrentgrade" type="text">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                        </select>
                      </div>

                      * 수정&삭제를 위한 비밀번호
                      <div class="form-group">
                          <input class="form-control" placeholder="숫자 4자리로 구성된 비밀번호를 입력해주세요." type="password" id="arpassword" name="arpassword">
                      </div>

                      <div><h4>* 수정시, 이름은 수정이 불가하며,</h4></div>
                      <div class="editannounce"><h4>* 계열 / 성별 / 학년 / 비밀번호 정보는 초기화됩니다. 재입력이 필요합니다.</h4></div>                      
                      
                      <br>

                  </fieldset>

                  <button type="submit" class="btn btn-lg btn-success btn-block" id="submitbtn">신청하기</button>
                  <input class="form-control" id="alertbtn" type="text" value="신청 시간이 아닙니다^^!" disabled>

              </form>
          </div> <br><br>

        </div>
    </div>

</div>

<% include ../parts/footer %>