<% include ../parts/head %>
<% include ../parts/othernav %>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">AR 2층 신청현황</h1>
        </div>
        <!-- /.col-lg-12 선야 신청현황이 기본index임!!-->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">

          <h3>2-1 신청현황</h3>
          <table id="enrolltable" cellspacing="0" width="100%">
           <thead>
            <tr>
              <th class="current">신청시간</th>
              <th class="arorop">분류</th>
              <th class="room">호실</th>
              <th class="purpose">이용목적</th>
              <th class="name">신청자</th>
              <th class="sort">계열</th>
              <th class="sex">성별</th>
              <th class="currentgrade">학년</th>
            </tr>
           </thead>

           <tbody>
            <% if(arenroll == null || arenroll.length == 0){ %>
             <tr>
              <td class="noData" colspan=100> 앗, 아무도 신청하지 않았네요! </td>
             </tr>
            <% } %>

            <% arenroll.forEach(function(arenroll) { %>
             <tr>
              <td class="current">
                 <div><%= arenroll.arcurrent %></div>
              </td>
              <td class="arorop">
                <div><%= arenroll.arar %></div>
              </td>
              <td class="room">
               <div><%= arenroll.arroom %></div>
              </td>
              <td class="purpose">
               <div><%= arenroll.arpurpose %></div>
              </td>
              <td class="name">
                <a href="/arenroll/<%= arenroll._id %>"><div><%= arenroll.arname %></div></a>
              </td>
              <td class="sort">
               <div><%= arenroll.arsort %></div>
              </td>
              <td class="sex">
               <div><%= arenroll.arsex %></div>
              </td>
              <td class="currentgrade">
               <div><%= arenroll.arcurrentgrade %></div>
              </td>
            <% }) %>

           </tbody>
          </table>

          <br><hr>

          <h3>2-2 신청현황</h3>
          <table id="enrolltable" cellspacing="0" width="100%">
           <thead>
            <tr>
              <th class="current">신청시간</th>
              <th class="arorop">분류</th>
              <th class="room">호실</th>
              <th class="purpose">이용목적</th>
              <th class="name">신청자</th>
              <th class="sort">계열</th>
              <th class="sex">성별</th>
              <th class="currentgrade">학년</th>
            </tr>
           </thead>

           <tbody>
            <% if(arenroll == null || arenroll.length == 0){ %>
             <tr>
              <td class="noData" colspan=100> 앗, 아무도 신청하지 않았네요! </td>
             </tr>
            <% } %>

            <% arenroll.forEach(function(arenroll) { %>
             <tr>
              <td class="current">
                 <div><%= arenroll.artwotwocurrent %></div>
              </td>
              <td class="arorop">
                <div><%= arenroll.twotwo %></div>
              </td>
              <td class="room">
               <div><%= arenroll.artwotworoom %></div>
              </td>
              <td class="purpose">
               <div><%= arenroll.artwotwopurpose %></div>
              </td>
              <td class="name">
                <div><%= arenroll.artwotwoname %></div>
              </td>
              <td class="sort">
               <div><%= arenroll.artwotwosort %></div>
              </td>
              <td class="sex">
               <div><%= arenroll.artwotwosex %></div>
              </td>
              <td class="currentgrade">
               <div><%= arenroll.artwotwocurrentgrade %></div>
              </td>
            <% }) %>

           </tbody>
          </table>

          <br><hr>

          <h3>2-3 신청현황</h3>
          <table id="enrolltable" cellspacing="0" width="100%">
           <thead>
            <tr>
              <th class="current">신청시간</th>
              <th class="arorop">분류</th>
              <th class="room">호실</th>
              <th class="purpose">이용목적</th>
              <th class="name">신청자</th>
              <th class="sort">계열</th>
              <th class="sex">성별</th>
              <th class="currentgrade">학년</th>
            </tr>
           </thead>

           <tbody>
            <% if(arenroll == null || arenroll.length == 0){ %>
             <tr>
              <td class="noData" colspan=100> 앗, 아무도 신청하지 않았네요! </td>
             </tr>
            <% } %>

            <% arenroll.forEach(function(arenroll) { %>
             <tr>
              <td class="current">
                 <div><%= arenroll.artwothreecurrent %></div>
              </td>
              <td class="arorop">
                <div><%= arenroll.twothree %></div>
              </td>
              <td class="room">
               <div><%= arenroll.artwothreeroom %></div>
              </td>
              <td class="purpose">
               <div><%= arenroll.artwothreepurpose %></div>
              </td>
              <td class="name">
                <div><%= arenroll.artwothreename %></div>
              </td>
              <td class="sort">
               <div><%= arenroll.artwothreesort %></div>
              </td>
              <td class="sex">
               <div><%= arenroll.artwothreesex %></div>
              </td>
              <td class="currentgrade">
               <div><%= arenroll.artwothreecurrentgrade %></div>
              </td>
            <% }) %>

           </tbody>
          </table>

          <br><hr>

          <h3>2-4 신청현황</h3>
          <table id="enrolltable" cellspacing="0" width="100%">
           <thead>
            <tr>
              <th class="current">신청시간</th>
              <th class="arorop">분류</th>
              <th class="room">호실</th>
              <th class="purpose">이용목적</th>
              <th class="name">신청자</th>
              <th class="sort">계열</th>
              <th class="sex">성별</th>
              <th class="currentgrade">학년</th>
            </tr>
           </thead>

           <tbody>
            <% if(arenroll == null || arenroll.length == 0){ %>
             <tr>
              <td class="noData" colspan=100> 앗, 아무도 신청하지 않았네요! </td>
             </tr>
            <% } %>

            <% arenroll.forEach(function(arenroll) { %>
             <tr>
              <td class="current">
                 <div><%= arenroll.artwofourcurrent %></div>
              </td>
              <td class="arorop">
                <div><%= arenroll.twofour %></div>
              </td>
              <td class="room">
               <div><%= arenroll.artwofourroom %></div>
              </td>
              <td class="purpose">
               <div><%= arenroll.artwofourpurpose %></div>
              </td>
              <td class="name">
                <div><%= arenroll.artwofourname %></div>
              </td>
              <td class="sort">
               <div><%= arenroll.artwofoursort %></div>
              </td>
              <td class="sex">
               <div><%= arenroll.artwofoursex %></div>
              </td>
              <td class="currentgrade">
               <div><%= arenroll.artwofourcurrentgrade %></div>
              </td>
            <% }) %>

           </tbody>
          </table>

          <br><hr>

          <h3>2-5 신청현황</h3>
          <table id="enrolltable" cellspacing="0" width="100%">
           <thead>
            <tr>
              <th class="current">신청시간</th>
              <th class="arorop">분류</th>
              <th class="room">호실</th>
              <th class="purpose">이용목적</th>
              <th class="name">신청자</th>
              <th class="sort">계열</th>
              <th class="sex">성별</th>
              <th class="currentgrade">학년</th>
            </tr>
           </thead>

           <tbody>
            <% if(arenroll == null || arenroll.length == 0){ %>
             <tr>
              <td class="noData" colspan=100> 앗, 아무도 신청하지 않았네요! </td>
             </tr>
            <% } %>

            <% arenroll.forEach(function(arenroll) { %>
             <tr>
              <td class="current">
                 <div><%= arenroll.artwofivecurrent %></div>
              </td>
              <td class="arorop">
                <div><%= arenroll.twofive %></div>
              </td>
              <td class="room">
               <div><%= arenroll.artwofiveroom %></div>
              </td>
              <td class="purpose">
               <div><%= arenroll.artwofivepurpose %></div>
              </td>
              <td class="name">
                <div><%= arenroll.artwofivename %></div>
              </td>
              <td class="sort">
               <div><%= arenroll.artwofivesort %></div>
              </td>
              <td class="sex">
               <div><%= arenroll.artwofivesex %></div>
              </td>
              <td class="currentgrade">
               <div><%= arenroll.artwofivecurrentgrade %></div>
              </td>
            <% }) %>

           </tbody>
          </table>

          <br><hr>

          <h3>2-6 신청현황</h3>
          <table id="enrolltable" cellspacing="0" width="100%">
           <thead>
            <tr>
              <th class="current">신청시간</th>
              <th class="arorop">분류</th>
              <th class="room">호실</th>
              <th class="purpose">이용목적</th>
              <th class="name">신청자</th>
              <th class="sort">계열</th>
              <th class="sex">성별</th>
              <th class="currentgrade">학년</th>
            </tr>
           </thead>

           <tbody>
            <% if(arenroll == null || arenroll.length == 0){ %>
             <tr>
              <td class="noData" colspan=100> 앗, 아무도 신청하지 않았네요! </td>
             </tr>
            <% } %>

            <% arenroll.forEach(function(arenroll) { %>
             <tr>
              <td class="current">
                 <div><%= arenroll.artwosixcurrent %></div>
              </td>
              <td class="arorop">
                <div><%= arenroll.twosix %></div>
              </td>
              <td class="room">
               <div><%= arenroll.artwosixroom %></div>
              </td>
              <td class="purpose">
               <div><%= arenroll.artwosixpurpose %></div>
              </td>
              <td class="name">
                <div><%= arenroll.artwosixname %></div>
              </td>
              <td class="sort">
               <div><%= arenroll.artwosixsort %></div>
              </td>
              <td class="sex">
               <div><%= arenroll.artwosixsex %></div>
              </td>
              <td class="currentgrade">
               <div><%= arenroll.artwosixcurrentgrade %></div>
              </td>
            </tr>
            <% }) %>

           </tbody>
          </table>
          <br><br><br>
        </div>
        <!-- /.col-lg-12 -->
    </div>

</div>
<!-- /#page-wrapper -->

<% include ../parts/footer %>
