<% include ../parts/head %>
<% include ../parts/othernav %>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> AR 신청현황 보기 </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
         <div id="backsubmitbtn">
           <form action="/arenroll/<%= arenroll._id %>?_method=delete" method="post">
             <a class="btn btn-danger" onclick="confirm('정말로 삭제하시겠습니까?')?this.parentElement.submit():null;">삭제</a>
           </form>
         </div>
          <br>          

          <h3 id="showshow">
          <div>신청시각 : <%= arenroll.arcurrent %></div>                
          <div>분류 : <%= arenroll.arar %></div>
          <div>세미나실 : <%= arenroll.arroom %></div>
          <div>이용목적 : <%= arenroll.arpurpose %></div>                    
          <div>이름 : <%= arenroll.arname %></div>
          <div>계열 : <%= arenroll.arsort %></div>
          <div>성별 : <%= arenroll.arsex %></div>
          <div>학년 : <%= arenroll.arcurrentgrade %></div>
          </h3>

          <br>

          <div id="backsubmitbtn">
            <a class="btn btn-default" href="/arenroll">뒤로가기</a>
            <a class="btn btn-primary" href="/arenroll/<%= arenroll._id %>/edit">수정</a>
          </div>

          <br><br>
        </div>
    </div>
</div>
<% include ../parts/footer %>