<% include ../parts/head %>
<% include ../parts/othernav %>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> AR 신청현황 보기 </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">        
            <h3 id="showshow">
                <div>신청시각 : <%= arenroll.arcurrent %></div>                
                <div>분류 : <%= arenroll.arar %></div>
                <div>세미나실 : <%= arenroll.arroom %></div>
                <div>이용목적 : <%= arenroll.arpurpose %></div>                    
                <div>신청자 : <%= arenroll.arname %></div>
                <div>계열 : <%= arenroll.arsort %></div>
                <div>성별 : <%= arenroll.arsex %></div>
                <div>학년 : <%= arenroll.arcurrentgrade %></div>
            </h3>
            
            <div id="backsubmitbtn">
                <form action="/arenroll/<%= arenroll._id %>?_method=delete" id="deleteform" method="post">
                <a class="btn btn-danger" onclick="deleteff()">삭제</a>
                </form>
                <a class="btn btn-default" href="/arenroll">뒤로가기</a>
            </div>
        
            <div class="form-group">
                <input class="form-control" id="hello" value="<%= arenroll.arpassword %>" disabled>
            </div>
            <div id="hallo">
            <div class="form-group">
                <input class="form-control" value="234423" disabled>
            </div>
            <div class="form-group">
                <input class="form-control" value="324554" disabled>
            </div>
            <div class="form-group">
                <input class="form-control" value="148456" disabled>
            </div>
            <div class="form-group">
                <input class="form-control" value="987243" disabled>
            </div>
            <div class="form-group">
                <input class="form-control" value="637663" disabled>
            </div>
            <div class="form-group">
                <input class="form-control" value="108475" disabled>
            </div>
            <div class="form-group">
                <input class="form-control" value="398574" disabled>
            </div>
            <div class="form-group">
                <input class="form-control" value="945767" disabled>
            </div>
            </div>

                <br><br>
            </div>
    </div>
</div>

<% include ../parts/footerwithout %>