<% include ../parts/head %>
<% include ../parts/othernav %>

<script type="text/javascript">
    function deleteff() {
        var psswd0 = prompt("1차 패스워드 Validation", "");
        if (psswd0.length == 4) {
            alert("승인");
            return deleteff1();
        } else {
            alert("승인 거부됨");
        };

        function deleteff1() {
        var pwinput = prompt("2차 패스워드 Validation", "");
        var encrypt = "4895734890257978034878923748789015873289457902908490317017289371283978094348579340578345834790872382934<%= arenroll.arpassword %>55559384758345722555522293057892075555332255556777472355557894555506475555136012873896555534905555827390574918382955553337227277";
        var trans = encrypt.substr(103, 4);
        if (trans == pwinput && pwinput.length == 4) {
          confirm('정말로 삭제하시겠습니까?')?document.getElementById("deleteform").submit():null;
        } else {
          alert("패스워드가 틀렸어요.. (저런;;)");
        };
    };
};
</script>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> AR 신청현황 보기 </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">        
            <h3 id="showshow">
                <div>신청시각 : <%= arenroll.arcurrent %></div>                
                <div>분류 : <%= arenroll.arar %></div>
                <div>세미나실 : <%= arenroll.arroom %></div>
                <div>이용목적 : <%= arenroll.arpurpose %></div>                    
                <div>신청자 : <%= arenroll.arname %></div>
                <div>계열 : <%= arenroll.arsort %></div>
                <div>성별 : <%= arenroll.arsex %></div>
                <div>학년 : <%= arenroll.arcurrentgrade %></div>
            </h3>
            
            <div id="backsubmitbtn">
                <form action="/arenroll/<%= arenroll._id %>?_method=delete" id="deleteform" method="post">
                <a class="btn btn-danger" onclick="deleteff()">삭제</a>
                </form>
                <a class="btn btn-default" href="/arenroll">뒤로가기</a>
            </div>

                <br><br>
            </div>
    </div>
</div>

<% include ../parts/footerwithout %>